{% extends 'base.html' %}

{% block content %}
    <h1>Basic information about the project</h1>
    <div style='font-size: 110%'>
    <p>Project is free and non-commercial. It requires recent web-browsers (like latest Firefox or Chrome). If you have any problems - feel free to contact me as nutricalc@mooserv.org.</p>
    <h2>API</h2>
    Check /api/v1/docs/ for Swagger documentation, feel free to use this api for any means. Search request will show you only first 200 results, so, if you want to grab everything - just check import script on project repo. And may be even db dump provided there. Or ask me.
    </div>
{% endblock content %}
