# Base packages
Django==1.9.6
pytz

# database
psycopg2==2.6.1

# nice forms with bootstrap support
# django-crispy-forms
# django-widget-tweaks

# helper mixins
#django-braces

# send exceptions to Sentry
# raven

jsonfield==1.0.3

# work with remote API
# requests
# lxml

# search API
djangorestframework==3.3.3
django-rest-swagger==0.3.6
